* {
  margin:0;
  padding:0;
}

/* .section{
  position: relative;
} */

.navbar{
  background-color: #3e454f;
 display: flex; 
 align-items: center;
 gap:20px;
 padding: 10px;
 color:white;
 
}

.navbar > p {
  font-weight: 300;
}

.footer{
  background-color: #3e454f;
  text-align: center;
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0; 
  left: 0; 
  width: 100vw; 
  font-size: 20px;
}


.profanitiesListDiv{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:20px
}

.profanitiesListDiv--button{
  /* width: 100px; */
  background-color: #236795;
  color: white;
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
}

.profanitiesListDiv--table{
  margin:0 auto;
  text-align: left;
  width: 80%;
}

.profanitiesListDiv--table > tr{
  height: 50px;
}
.profanitiesListDiv--table > tr > td{
  display: inline-block;
}

.profanitiesListDiv--table >tr >th {
  padding: 3px;
  border: 2px solid black;
  border-spacing:0px;
  border-collapse: collapse;
}

.updateDeleteDiv{
  display: flex;
  gap: 5px;
  height: 100% !important;
  
}

.updateDeleteDiv > button{
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
}

.updateDeleteDiv--updateBtn{
  background-color: rgb(255, 255, 107);
}
.updateDeleteDiv--deleteBtn{
  background-color: rgb(246, 80, 80);

}
